.home {
  background-color: #f9f6ed;

  .content {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }

  .header {
    width: 30%;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  .map {
    width: 70%;
    // overflow: scroll;
    position: relative;

    // border: 1px solid black;

    svg {
      transform: scale(1.5);
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    .circle {
      position: absolute;
    }

    .tooltip-inner {
      z-index: 9999;
      position: absolute;
      top: 80px;
      left: 120px;
      font-size: 12px;
    }

    .circle-1 {
      top: 100px;
      left: 100px;
    }

    .circle-2 {
      bottom: 100px;
      right: 400px;

      @include media-breakpoint-down(lg) {
        right: 100px;
      }
    }

    .circle-3 {
      bottom: 500px;
      right: 400px;

      @include media-breakpoint-down(lg) {
        right: 100px;
        bottom: 50px;
      }
    }

    .circle-4 {
      bottom: 20px;
      right: 300px;

      @include media-breakpoint-down(lg) {
        bottom: 20px;
        right: 50px;
      }
    }
  }

  .headline {
    color: #e91d63 !important;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
      font-size: 40px;
    }
  }

  .sub-headline {
    font-family: "Lato";
    font-weight: normal;
    color: #93cac5;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5em;
  }

  #auc-mat,
  #mat-rot,
  #rot-taupo,
  #taupo-rua,
  #rua-rot,
  #rot-auc,
  #auc-chr,
  #chr-tek,
  #tek-puk,
  #puk-twiz,
  #twiz-duns,
  #duns-qns,
  #qns-atwn,
  #atwn-kaw,
  #kaw-chr,
  #chr-wel,
  #wel-fox,
  #fox-auc,
  .sprites {
    opacity: 0;
  }

  .blinking {
    -webkit-animation: 1s blink ease infinite;
    -moz-animation: 1s blink ease infinite;
    -ms-animation: 1s blink ease infinite;
    -o-animation: 1s blink ease infinite;
    animation: 1s blink ease infinite;
  }

  @keyframes "blink" {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @-moz-keyframes blink {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @-webkit-keyframes "blink" {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @-ms-keyframes "blink" {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @-o-keyframes "blink" {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}
